name: Robot tests

on: [push, pull_request]

jobs:
  integrationtest:
    runs-on: ubuntu-latest
    container: python:3.9
    strategy:
      matrix:
        camunda_version: ['run-7.14.0','run-7.15.0']
        auth_enabled: ['true', 'false']
    services:
      camunda:
        image: camunda/camunda-bpm-platform:${{ matrix.camunda_version }}
        ports:
          - 8080:8080
        env:
          camunda.bpm.run.auth.enabled: ${{ matrix.auth_enabled }}
    steps:
    - uses: actions/checkout@v2
    - name: Test with robot
      run: |
        pip install .
        sleep 10
        robot -d logs -b debug.log -x xunit.xml -L DEBUG -V tests/robot/config_cicd.py -v CAMUNDA_HOST:http://camunda:8080 tests/robot/**/*.robot
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: robot logs
        path: |
          logs/

  publish-test-results:
    name: "Publish Unit Tests Results"
    needs: integrationtest
    runs-on: ubuntu-latest
    # the build-and-test job might be skipped, we don't need to run this job then
    if: success() || failure()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
           name: robot logs

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: xunit.xml
